<mat-grid-list cols="1" rowHeight="550px"  style="background-color: bisque;">
    <mat-grid-tile color="accent" rowspan=2 style="background: url('assets/salad.jpg') no-repeat center;">
      
          <div style="height: 100%; width: 100%;">
      
  

          <mat-card class="menu-card">
    
            <mat-card-header class="menu-card-header">
                  <div style="text-align: center; width:100%">
                      <mat-card-title class="menu-card-title">{{day.weekday}}</mat-card-title>
      
                  </div>
                
              </mat-card-header>
              
            <mat-card-content  class="card-content" style="height: 60%;"> 
              <div style="text-align: center; font-style: normal;"><h2>SALADA</h2></div>
              <div style="width: 150px; height:100px; background-color:red; margin:auto;"></div>
              <div style="display: grid;  grid-template-columns: 33% 33% 33%; grid-row-gap: 2em; grid-column-gap: 10px;  width:80%; margin:auto;">
                <div>Salada Macarrao com frango desfiado ao molho pesto</div>
                <div>Salada Macarrao com carne moida molho pesto</div>
                <div>Salada mix de folhas com atum e milho ao molho pesto</div>
              </div>

            </mat-card-content>
      
            <mat-card-actions style="text-align: center; top:200px;">
                <button mat-button class="button-detail" routerLink="/menuday">SALVAR</button>
            </mat-card-actions>
      
          </mat-card>
          </div>
      
   </mat-grid-tile>
 </mat-grid-list>

<p>
  menu-day works! {{id}} - {{day.weekday}}
</p>
