<span style="position: relative; top: 0; text-align: center;">
    <h1><a name="cardapio">CARDÁPIO</a></h1>
  </span>

  <div style="display: grid;  grid-template-columns: 33% 33% 33%; grid-row-gap: 2em; grid-column-gap: 25px;  width:65%; margin:auto;">


      <mat-card class="menu-card">
    
          <mat-card-header class="menu-card-header">
                <div style="text-align: center; width:100%">
                    <mat-card-title class="menu-card-title">SEGUNDA</mat-card-title>
    
                </div>
             
            </mat-card-header>
          <mat-card-content  class="card-content"> 
                      
            <ul>
              <li>{{menu.monday.option1.descriptions}}</li>
              <li>{{menu.monday.option2.descriptions}}</li>
              <li>{{menu.monday.option3.descriptions}}</li>
            </ul>
          </mat-card-content>
    
          <mat-card-actions style="text-align: center;">
              <button mat-button class="button-detail" [routerLink]="['/menuday', menu.monday.id]" >QUERO</button>
          </mat-card-actions>
    
        </mat-card>


      <mat-card class="menu-card">
    
          <mat-card-header class="menu-card-header">
                <div style="text-align: center; width:100%">
                    <mat-card-title class="menu-card-title">TERÇA</mat-card-title>
    
                </div>
             
            </mat-card-header>
          <mat-card-content  class="card-content"> 
            <ul>
              <li>Salada de penne com frango e ervas finas</li>
              <li>Salada Arroz vermelho com carne desfiada</li>
              <li>Mix de folhas com atum ao molho pesto</li>
            </ul>
          </mat-card-content>
    
          <mat-card-actions style="text-align: center;">
              <button mat-button class="button-detail">QUERO</button>
          </mat-card-actions>
    
        </mat-card>


      <mat-card class="menu-card">
    
          <mat-card-header class="menu-card-header">
                <div style="text-align: center; width:100%">
                    <mat-card-title class="menu-card-title">QUARTA</mat-card-title>
    
                </div>
             
            </mat-card-header>
          <mat-card-content  class="card-content"> 
            <ul>
              <li>Salada de penne com frango e ervas finas</li>
              <li>Salada Arroz vermelho com carne desfiada</li>
              <li>Mix de folhas com atum ao molho pesto</li>
            </ul>
          </mat-card-content>
    
          <mat-card-actions style="text-align: center;">
              <button mat-button class="button-detail" routerLink="/menuday">QUERO</button>
          </mat-card-actions>
    
        </mat-card>


      <mat-card class="menu-card">
    
          <mat-card-header class="menu-card-header">
                <div style="text-align: center; width:100%">
                    <mat-card-title class="menu-card-title">QUINTA</mat-card-title>
    
                </div>
             
            </mat-card-header>
          <mat-card-content  class="card-content"> 
            <ul>
              <li>Salada de penne com frango e ervas finas</li>
              <li>Salada Arroz vermelho com carne desfiada</li>
              <li>Mix de folhas com atum ao molho pesto</li>
            </ul>
          </mat-card-content>
    
          <mat-card-actions style="text-align: center;">
              <button mat-button class="button-detail">QUERO</button>
          </mat-card-actions>
    
        </mat-card>


      <mat-card class="menu-card">
    
          <mat-card-header class="menu-card-header">
                <div style="text-align: center; width:100%">
                    <mat-card-title class="menu-card-title">SEXTA</mat-card-title>
    
                </div>
             
            </mat-card-header>
          <mat-card-content  class="card-content"> 
            <ul>
              <li>Salada de penne com frango e ervas finas</li>
              <li>Salada Arroz vermelho com carne desfiada</li>
              <li>Mix de folhas com atum ao molho pesto</li>
            </ul>
          </mat-card-content>
    
          <mat-card-actions style="text-align: center;">
              <button mat-button class="button-detail">QUERO</button>
          </mat-card-actions>
    
        </mat-card>


      <mat-card class="menu-card">
    
          <mat-card-header class="menu-card-header">
                <div style="text-align: center; width:100%">
                    <mat-card-title class="menu-card-title">SÁBADO</mat-card-title>
    
                </div>
             
            </mat-card-header>
          <mat-card-content  class="card-content"> 
            <ul>
              <li>Salada de penne com frango e ervas finas</li>
              <li>Salada Arroz vermelho com carne desfiada</li>
              <li>Mix de folhas com atum ao molho pesto</li>
            </ul>
          </mat-card-content>
    
          <mat-card-actions style="text-align: center;">
              <button mat-button class="button-detail">QUERO</button>
          </mat-card-actions>
    
        </mat-card>

        <div style="grid-column-start: 1; grid-column-end: 4; width:99%;">
            <mat-card class="menu-card" style="margin:auto;">
    
                <mat-card-header class="menu-card-header">
                      <div style="text-align: center; width:100%">
                          <mat-card-title class="menu-card-title">DOMINGO</mat-card-title>
          
                      </div>
                   
                  </mat-card-header>
                <mat-card-content  class="card-content"> 
                  <ul>
                    <li>Salada de penne com frango e ervas finas</li>
                    <li>Salada Arroz vermelho com carne desfiada</li>
                    <li>Mix de folhas com atum ao molho pesto</li>
                  </ul>
                </mat-card-content>
          
                <mat-card-actions style="text-align: center;">
                    <button mat-button class="button-detail">QUERO</button>
                </mat-card-actions>
          
              </mat-card>
              
        </div>  

 
    
  </div>



    
