h1 {
    color: rgb(63, 77, 104);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
        
  }
  .desc {
    color : rgb(63, 77, 104);
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 120%;
    text-align: center;
    width: 80%;
    margin: auto;
        
  }
  .example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: green;
    background-color: red;
  }

  
  .material-icons {
    font-size: 48px;
    color:white;
  }


  .how-icons {
    font-size: 110px;
    color:white;
    
    
  }

  .example-button-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }


  .plan-card{
    background-color: beige;
    height: 350px;
    max-width: 280px; 
    margin-top: 70px;
    border: 10;
    border-color: red;
    margin-left: 30px;
  }
  .button-detail{
    background-color: cadetblue; 
    color: white;
    font-size: 20px;
    font-weight: bold;


  }

  .card-content{
    height: 120px;
   text-align: center;
  }