<mat-toolbar  class="header-toolbar" style="height:40px; margin:0; background-color: cadetblue;">
    <h1 style="color:white; font-family: 'Russo One', sans-serif; font-size: 30px;">AjaFit</h1>
  
    <!-- This fills the remaining space of the current row -->
    <span style="flex:1 1 auto;"></span>
  
    <!-- <span *ngIf="getUser()">{{getUser().name}}</span> -->
    
    <span style="margin-right: 20px; margin-top:5px; ">
      <a href="#">
          <mat-icon style="color:blue;">perm_identity</mat-icon>
      </a>
        
    </span>
  
  
  </mat-toolbar>
  
<router-outlet></router-outlet>