<span style="position: relative; top: 0; text-align: center;">
    <h1>COMBOS</h1>
  </span>

<div style="display: grid;  grid-template-columns: 500px 500px 500px;  grid-column-gap: 30px; width:85%; margin:auto;">


<mat-card class="plan-card">
    <img mat-card-image src="assets/combo.png">
    <mat-card-content class="card-content"> 
      <h3>COMBO SIMPLES</h3>
      <p>
        Este é uma compra avulsa!! Ideal para quem gostaria de conhecer e experimentar nossos kits.
        <br/>Monte seu <b>COMBO</b> para um único dia a partir de nosso cardápio.
      </p>
    </mat-card-content>

    <!--
    <mat-card-actions style="text-align: center;">
        <button mat-button class="button-detail">SABER MAIS</button>
    </mat-card-actions>
-->
  </mat-card>

  <mat-card class="plan-card">
      <img mat-card-image src="assets/combo.png" alt="Photo of a Shiba Inu">
      <mat-card-content class="card-content"> 
        <h3>COMBO SMART</h3>
        <p>
          Planeje sua rotina alimentar para um mínimo de 3 dias e seja <b>SMART.</b>
          <br/>Além da prioridade na ordem de entrega você ainda ganha isenção na taxa.
        </p>

      </mat-card-content>


</mat-card>

<mat-card class="plan-card">
    <img mat-card-image src="assets/combo.png" alt="Photo of a Shiba Inu">
    <mat-card-content class="card-content"> 
      <h3>COMBO AJAFIT</h3>
      <p>
        Manter-se focado durante 6 dias da semana lhe garante o título <b>FIT.</b>
        <br/>Além das regalias de ser SMART, você ainda garante descontos exclusivos.
      </p>


    </mat-card-content>


</mat-card>


  </div>