
h1 {
    color: rgb(63, 77, 104);
    font-size:45px;
    font-family: 'Fredericka the Great', cursive;
    
        
  }
  .plan-card{
    background-color: beige;
    height: 330px;
    max-width: 400px; 
    
  }
  .plan-card img{
    height: 200px;
  }
  .button-detail{
    background-color: brown; 
    color: white;
    font-size: 20px;
    font-weight: bold;


  }

  .card-content{
     
   text-align: center;
   font-size: 16px; 
   font-family: 'Inder', sans-serif;
   font-style: italic;
   
}
