h1 {
  color: rgb(63, 77, 104);
  font-size:35px;
  font-family: 'Fredericka the Great', cursive;
         
  }
  h2 {
    color: gray;
    font-size:25px;
    font-family: 'Fredericka the Great', cursive;
           
  }

  .desc {
    color : rgb(63, 77, 104);
    
    font-style: italic;
    
    text-align: center;
    width: 80%;
    margin: auto;

         
   text-align: center;
   font-size: 18px; 
   font-family: 'Inder', sans-serif;
        
  }
  .example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: green;
    background-color: red;
  }

  
  .material-icons {
    font-size: 48px;
    color:white;
  }


  .how-icons {
    font-size: 110px;
    color:white;
    
    
  }

  .example-button-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }


  .plan-card{
    background-color: beige;
    height: 380px;
    max-width: 280px; 
    margin-top: 70px;
    margin-left: 30px;
  }
  .button-detail{
    background-color: brown; 
    color: white;
    font-size: 20px;
    font-weight: bold;


  }

  .card-content{
    height: 140px;
   text-align: center;
  }